@use "sass:color";

$color-primary: red;
$color-secondary: blue;
$color-tertiary: green;

@mixin article-card($color: $color-tertiary, $border-color: $color-secondary, $font-size: 25px) {
    color: $color;
    border: 1px solid $border-color;
    font-size: $font-size;
    text-align: center;
    padding: 20px;
    width: 100%;
}


.container {
    border: 1px solid color.adjust($color-primary, $lightness: -10%);
    padding: 5px;
    
        &-title {
            color: $color-tertiary;
            text-align: center;
            text-decoration: underline solid $color-secondary 1px;
            text-underline-offset: 8px;
        }

        .article {
            display: flex;
            flex-direction: row;
            margin: 15px;

            &-card {
                @include article-card();

                &_blue {
                    @include article-card(color.adjust($color-secondary, $lightness: 10%), $color-tertiary, 16px);
                }

                &_red {
                    @include article-card(color.adjust($color-primary, $lightness: 10%), $color-tertiary, 16px);
                }
            }
        }
}
